body{
    background:url('bgimage.jpg');
    background-repeat: none;
    background-size: cover;
    margin: 0px;
    padding:0px;
    font-family: 'ABeeZee', sans-serif;
}
.left{
    display: inline-block;
    position:absolute;
    top: 10px;
    left: 20px;
    /* border: 2px solid red; */
    color: white;
}
.left img{
    position: relative;
    left:19px;
    width: 50px;
}
.left div{
    text-align:center;
}
.mid{
    display:block;
    width: 36%;
    margin: 30px auto;
    /* border: 2px solid green; */
    color: white; 
}
.right{
    display: inline-block;
    position:absolute;
    top: 20px;
    right: 10px;
    /* border: 2px solid blue; */
    color: white;
}
.btn{
    margin: 0px 8px;
    color: black;
    background-color: rgb(244, 225, 202);
    padding: 2px 9px;
    border: 2px solid grey;
    border-radius: 10px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 17px;
}
.btn:hover{
    background-color: rgb(143, 98, 98);
}
.navbar li{
    display: inline-block;
    list-style: none;
    font-size: 17px;
}
.navbar li a{
    color: white;
    text-decoration:none;
    padding: 15px;
}
.navbar li a:hover, .navbar li a:active{
    text-decoration: underline;
    color:grey;
}
.container{
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    width: 14cm;
    padding: 70px 98px;
    margin: 85px 105px;
}
.container button{
    display: block;
    width: 100px;
    margin: auto;
}
.form-group input{
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    display: block;
    font-size: 17px;
    font-weight: bold;
    width: 365px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 7px auto;
}